.philosophy {
  background-color: getColor('peach-accent');
}

.philosophy__container {
  @extend %container;
}

.philosophy__title {
  @extend %section-title;
  color: getColor('base');
  margin-bottom: 24px;
}

.philosophy__text {
  color: getColor('dark-grey');
  margin-bottom: 90px;
}

.philosophy__link {
  @extend %link;
  @extend %special-link;
}

.philosophy__img {
  margin-left: auto;
  margin-right: auto;
}
